@import url("https://googleapis.com");
*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  interpolate-size: allow-keywords;
}

/* Defualt theme */
:root,
html[data-theme="default"] {
  --bg-color: #0a0908;
  --card-bg: #49111c;
  --text-color: #f2f4f3;
  --accent-color: #9b2235;
}


/* Azshara Vein */
html[data-theme='azshara-vein']{
  --bg-color: #b13e18;
  --card-bg: #000;
  --text-color: #ede9d0;
  --accent-color: #b13e18;
}

/* Sakura goth */
html[data-theme="sakura-goth"] {
  --bg-color: #16131f;
  --card-bg: #4a3f4b;
  --text-color: #f0d9e4;
  --accent-color: #c1a0ac;
}

/*  Kombu forest */
html[data-theme="kombu-forest"] {
  --bg-color: #1b1f17;
  --card-bg: #3a4032;
  --text-color: #e7eacb;
  --accent-color: #89a06b;
}

/* Deep occult */
html[data-theme="deep-occult"] {
  --bg-color: #111219;
  --card-bg: #1e202c;
  --text-color: #bfc0d1;
  --accent-color: #60519b;
}

/* Glacial Salt */
html[data-theme="glacial-salt"] {
  --bg-color: #d9d9d8;
  --card-bg: #7c94b8;
  --text-color: #0c1a31;
  --accent-color: #b1bbc8;
}

/* Blackpink */
html[data-theme="blackpink"] {
  --bg-color: #e5a9bf;
  --card-bg: #fff;
  --text-color: #241a22;
  --accent-color: #ec206b;
}

/* Dark Jungle Green */
html[data-theme="dark-jungle-green"] {
  --bg-color: #1e201f;
  --card-bg: #193a31;
  --text-color: #56ae9c;
  --accent-color: #56ae9c;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition:
    background-color 0.9s ease,
    color 0.9s ease;
}
